<h1> <%= @category.name %> </h1>

<% if @posts.any? %>
      <table class="table table.hover">
          <tr>
              <th> Post Name </th>
              <th> Post Cost </th>
          </tr>
          <% @posts.each do |post| %>
          <tr>
              <td> <%= post.title %></td>
              <td><%= link_to 'View Post', category_post_path(@category, post), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Edit Post', edit_category_post_path(@category, post), class: 'btn btn-warning' %></td>
              <td><%= link_to 'Delete Post',
                    category_post_path(@category, post),
                    class: 'btn btn-danger',
                    data: { confirm: 'Really Delete?'},
                    method: :delete %></td>
          </tr>
          <% end %>
      </table>


<% else %>
  <h3>No Posts Found, Please Create One!</h3>
<% end %>

<div class='col-md-6'>
  <%= link_to 'Go Back To Categories', categories_path, class: 'btn btn-primary backButton' %>
</div>
<div class='col-md-6 text-right'>
  <%= link_to 'Create New Post', new_category_post_path(@category), class: 'btn btn-primary backButton' %>
</div>

<hr />
